# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment / secrets
.env
.env.*
*.env

# PostgreSQL password files
pgpass.conf
.pgpass

# VS Code
.vscode/

# Power BI temporary files
*.pbix.tmp
*.pbit.tmp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp